.card-title {
    cursor: pointer;
}

.board__main .row > div:last-child { margin-right: auto; }
.brdr {border-style: dashed;}

.board_container {
    font-family: Helvetica;
    background-color: #ccdef1;
    min-height: 100vh;
    padding-bottom: 30px;
  }
  
  #dropdownNotification + .dropdown-menu {
    min-width: 320px;
  }
  
  .user_label {
    padding: 4px;
    margin:0;
  }
  
  .board_container .bg-secondary {
    background-color: #1c507e !important;
  }
  
  .main_container { 
    margin-top: 50px;
    max-width: 100%;
    width: 1340px;
  }